@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .slideDown {
    animation: slideDown 0.8s ease-out;
  }
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-300px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .slideUp {
    animation: slideUp 0.8s ease-out;
  }
  @keyframes slideUp {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-400px);
    }
  }

  .rotate {
    animation: rotate 25s linear infinite;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .gradient-text {
    background-image: linear-gradient(to right, #903aff, #fe34b9);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .number-input::-webkit-inner-spin-button,
  .number-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
}
